body{
    background-image: url(img/jusduq.jpg) ;
    
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}



.title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #364e31;
    width:100%;
    height:150px;
    border-radius: 5px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.history{
    
    
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    
}
.history:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}


#phistory{
    background-color: beige;
    padding: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.phototot{
    display: flex;
    text-align: left;
    flex-direction: row;

    

    
}




.phototext{
    margin-left:1%;
    width: 100%;
    
    background-color: beige;
    border-radius: 5px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1%;
    


}

.pamelatot{
    display: flex;
    text-align: left;
    flex-direction: row;

    


}



.pamelatext{
    width: 100%;
    
    background-color: beige;
    border-radius: 5px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1%;
    



}
.Pamelaimg{
    width:50%;
    margin-left: 1%;
}

@media screen and (max-width:885px) {
    .phototot{
        flex-direction: column;
        
    }

    .Pamelaimg{
        width:100%
    }

    .pamelatot{
        flex-direction: column-reverse;
    }
    
}